.rzv-loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    opacity: .6;
    align-items: center;
    justify-content: center;
    color: #fff;

    p{
        padding-top: 1rem;
        letter-spacing: 1.2px;
    }

    &-wr {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &--spinner {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #000; /* Blue */
        border-radius: 50%;
        width: 24px;
        height: 24px;
        animation: spin 2s linear infinite;
    }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}