.rzv-loader {
  display: inline-block;
  position: relative;
  width: 50px;
}
.rzv-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 10px;
    border: 4px solid #6c6c6c;
    border-radius: 50%;
    animation: rzv-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #6c6c6c transparent transparent transparent;
}
.rzv-loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.rzv-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.rzv-loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes rzv-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}