.rzv-float-cta {
  display: none;
  z-index: 20;
  height: 50px;
  right: 20px;
  bottom: 25px;
  right: 25px;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;

  &__wrapper {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    background: #000;
    color: #fff;
    border-radius: 10px;
  }

  &__icon {
    svg {
        width: 100%;
        color: #fff;
        font-size: 1rem;
        padding: 4px 0 0 0;
      }
  }


}
.-show {
    display: flex;
}