#tsparticles {
    display: none;
    @media (min-width: 46em) {
        display: block;
    } 

    canvas {
        width: 100%;
        height: 20rem !important;
        bottom: 0 !important;
        top: auto !important;
    }

}