.mpa-title {
    padding: 1rem 0 0rem;
    @media (min-width: 46rem) {
        padding: 1rem 0 0.5rem;
    }
   
    h1 {
        font-size: 1.4rem;
        margin: 0;

        @media (min-width: 46rem) {
            font-size: 1.6rem;
        }
    }
}