@import "../../assets/styles/colors.scss";

.rzv-legals {
  color: $clr-white;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: 46em) {
    text-align: center;
  }

  @media (min-width: 80em) {
    text-align: left;
  }

  .rzv-atm-paragraph {
    p {
      align-items: center;
    }
  }

  
}

