<<<<<<< HEAD
.mp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem 3rem;
  position: relative;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 48em) {
      padding-right: 4rem;
=======


.rzv-main {
  &__wrapper {
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
    @media (min-width: 48em) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // Black side on left
  &__left {
    color: #fff;
    height: 100vh;
    flex-basis: 35%;
    background-color: black;
    flex-direction: column;
    height: auto;
    z-index: 1;
    padding: calc(100% / 10) calc(100% / 10);
   

    @media (min-width: 48em) {
      height: 100vh;
      background-color: transparent;
      padding:calc(100% / 22) 0 0 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-align: left;
      margin: 0;
      min-height: 350px;
      width: auto;
      z-index: 5;
      justify-content: space-between;
      padding: 0;

      @media (min-width: 46em) {
        position: fixed;
        height: 90%;
      }

      @media (min-width: 64em) {
        width: calc(100% /3.5);
        height: 85%;
        justify-content: space-between;
      }

      .rzv-main_item {
        display: flex;
        flex-direction: column;
        margin: 0 0 2rem 0;

        h2 {
          border-bottom: 1px solid #fff;
          padding-bottom: 6px;
          width: max-content;
          margin-top: 0;
        }

        

        a {
          color: grey;
          text-decoration: none;
          margin-top: 20px;

          .rzv-a-cta {
            color: #fff;
            width: 100%;
            font-size: 1rem;

             @media (min-width: 90em) {
              width: 50%;
             }
  
            &:hover {
              color: #000;
            }
          }
        }
      }

    }
  }
  // White side on left
  &__right {
    display: flex;
    flex-direction: column;
    padding: calc(100% / 10) calc(100% / 10);
    @media (min-width: 46em) {
      flex-basis: 45%;
      padding: calc(100% / 22) calc(100% / 8) 0 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @media (min-width: 46em) {
      justify-content: flex-start;
      gap: 15%;
    }

    &_title {
      text-align: left;

      @media (min-width: 48em) {
        text-align: left;
      }

      .mpa-title {
        padding-top: 0;
      }
>>>>>>> parent of a52bb13 (massive update)
    }
  }

  &__body {
    width: 100%;
  }

  @media (min-width: 48em) {
    flex-direction: row;
    padding: 5rem 7rem;
  }
}
