.rzv-messagebar {
    &__top {
        height: 13px;
        width: 35px;
        background-color: #0057b7;
    }
    &__bottom {
        height: 13px;
        width: 35px;
        background-color: #ffd700;
    }
}