<<<<<<< HEAD
.mp-a-image {
    padding: 20px 0;
    box-sizing: border-box;
    background-clip: content-box;
    border-radius: 49.9%;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}
=======
.rzv-image {
  padding: 20px 0 0 30px;
  box-sizing: border-box;
  background-clip: content-box;
  border-radius: 49.9%;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    filter: grayscale(5);

    &:hover {
      filter: none;
    }

    @media (min-width: 46em) {
      width: 125px;
    height: 125px;
    }
  }
}
>>>>>>> parent of a52bb13 (massive update)
