.rzv-image {
  padding: 20px 0;
  box-sizing: border-box;
  background-clip: content-box;
  border-radius: 49.9%;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    filter: grayscale(5);

    &:hover {
      filter: none;
    }
  }
}
