<<<<<<< HEAD
.mp-a-paragraph {
    padding: 0 1rem 1rem;
=======
.rzv-atm-paragraph {
>>>>>>> parent of a52bb13 (massive update)
    font-size: 1rem;
    p {
        margin: 0;
    }
    &--lightgrey {
        color: #adadad;
<<<<<<< HEAD
=======
    }
    &--small {
        p {
            font-size: 1rem;
        }
>>>>>>> parent of a52bb13 (massive update)
    }
}